.login-logo>img{
    object-fit: contain;
    height: 150px;
}
.login-logo{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login>button{
    width: 200px;
}
